[user]
    name = Askar Aitzhan
    email = askar.aitzhan@datadoghq.com

[core]
    editor = vim
    autocrlf = input

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    default = current
    autoSetupRemote = true

[fetch]
    prune = true

[rebase]
    autoStash = true

[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    lg = log --oneline --graph --decorate -20
    unstage = reset HEAD --
    last = log -1 HEAD
    amend = commit --amend --no-edit

[diff]
    colorMoved = zebra

[merge]
    conflictstyle = diff3
